  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    position: relative;
}
body{
    background-color: #2C2C2C;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 110vh;
}
.section-binance{
    background-color: #FFFFFF;
    border-radius: 32px;
    width: 50%;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul{
    display: flex;
    height: 58px;
    align-items: center;
}
ul h1{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pagination li{
    list-style: none;
    align-items: center;
    color: black;
    cursor: pointer;
}
hr{
    position: absolute;
    width: 96%;
    color: #E9E9E9;
}
td{
    line-height: 50px;
   
}
.green-text{
    width: 90px;
    color: #16C784;
    font-size: 18px;
   font-family: 'Inter', sans-serif;
}

.red-text{
    width: 90px;
    color: #EA3943;
    font-size: 18px;
   font-family: 'Inter', sans-serif;
}

.name-text{
   font-size: 18px;
   font-family: 'Inter', sans-serif;
   width: 350px;
}
.price-text{
    width: 120px;
    font-size: 18px;
   font-family: 'Inter', sans-serif;
}
.rank-text{
    width: 6%;
    color: #9297A0;
    font-size: 18px;
   font-family: 'Inter', sans-serif;
}
.active{
    background-color: #16C784;
    padding: 4px;
    border-radius: 4px;
}
.contain{
    display: grid;
    gap: 68px;
}

.div_currency{
    background-color: #FFFFFF;
    width: 383px;
    height: 304px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.block_currency{
    display: grid;
    gap: 30px;
}
.rate{
    font-size: 30px;
}
.currency{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #E2E2E2;
    height: 40px;
    width: 265px;
    border-radius: 32px;
}
.currency input{
    width: 100px;
    border: none;
    outline: none;
    font-size: 16px;
}
.currency input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.currency select{
    border: none;  
    outline: none;
    font-size: 16px;
}
.currency option{
    position: absolute;
    
}

.div_exchange{
    background-color: #FFFFFF;
    border-radius: 32px;
    width: 383px;
    height: 304px;
    
}
.menu_hr{
    text-align: center;
}
.div_exchange hr{
    position: relative;
    width: 87%;
    margin-left: 26px;
}

.rank-text1,.rank-text2,.rank-text3{
    color: black;
    line-height: 35px;
    
}
.rank-text1{
    width: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.rank-text2{
    padding-left: 110px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.rank-text3{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 65px;
}
.menu_exchange{
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.div_exchange table{
    padding: 14px 52px;
    
    
}
.currency_icons{
    position: absolute;
    display: grid;
    gap: 21.5px;
    top: 85px;
    left: 8%;
}